.container{
    flex-direction: column;
}
.photo{
    padding: 20px;
}
.photo img{
    height: 250px;
    width: 246px;
}

.Solution{
   font-size: 2.6em;
}
.SolutionP{
   font-size: 2.2em;
}
.SolutionPa{
   font-size: 1.8em;
}
.me{
    margin: 20px 8px;
}